* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}
h2{
    display: flex;
    justify-content: center;
}
body {
    background-color: antiquewhite;
    display: flex;

}

.container {

    margin: auto;
    min-width: 35vw;
   min-height: 50vh;
    background-color: white;
    padding: 1.5rem;
    border-radius: 15px;
}

#arrow {
    max-height: 10vh;
    position: relative;
    object-fit: contain;
}

input,
button {
    width: 100%;
    height: 5vh;
}

input{
    border-radius: 10px;
}

button{
border: 0;
border-radius: 15px;
background-color: #953D81;
color: white;
font-size: larger;

}

@media (max-width:378px) {
    .div3{
        display:flex;
        flex-direction: column;
    }
}
.div3{
    display: flex;
    margin:20px 0;
    align-items: center;
    width: auto;
    justify-content: space-between;
}
select{
    border: 0;
font-weight: bolder;
}
.select{
    display: flex;
    border: 1px solid;
    align-items: center;
    max-height: 8vh;
    padding: 25px 3px;
    border-radius: 8px;
}
.flag{
    position: relative;
    object-fit: fill;
}
.div4{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}